name: ci

permissions:
  contents: write

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./modal-rb

    strategy:
      fail-fast: true
      matrix:
        ruby-version: [3.4, 4.0]

    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_SPECIFIC_PLATFORM: "true"
      MODAL_PROFILE: modal-rb-testing
      MODAL_TOKEN_ID: test-token-id
      MODAL_TOKEN_SECRET: test-token-secret

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          submodules: recursive

      - name: Install system dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y build-essential libssl-dev libreadline-dev zlib1g-dev

      - name: Set up Ruby and Bundler
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
          working-directory: ./modal-rb

      - name: Run tests
        run: bundle exec rake

      - name: Build
        run: bundle exec rake build

  release:
    needs: test
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./modal-rb

    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Ruby and Bundler
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0
          bundler-cache: true
          working-directory: ./modal-rb

      - name: Ensure clean version
        run: |
          git fetch --tags
          if git tag | grep -q "v$(ruby -e 'require "./lib/modal/version"; puts Modal::VERSION')"; then
            echo "Tag already exists"
            exit 1
          fi

      - name: Release gem
        run: |
          mkdir -p ~/.gem
          cat <<EOF > ~/.gem/credentials
          ---
          :rubygems_api_key: ${{ secrets.RUBYGEMS_AUTH_TOKEN }}
          EOF
          chmod 0600 ~/.gem/credentials
          gem whoami
          git config user.email "anthcor@gmail.com"
          git config user.name "Anthony Corletti"
          bundle exec rake release
